main {
    background-color: rgb(100 , 149 , 237);
}

header {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid black;
    /* padding: 1rem; */
}

.header-button {
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(0100 , 149, 237);
}

.sign-up-form {
    display: flex;
    justify-content: center;

    /* padding-bottom: ; */
    /* border: 2px solid red; */
    /* width: 75%; */
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: white;
    /* margin-bottom: 5rem; */
    /* width: 75%; */
    border: 1px solid black
}

input {
    margin: 1.5rem;
    width: 75%;
}

.breakline {
    border: 1px solid rgb(197, 190, 190);
    margin: 1.5rem;
}

span {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

img {
    width: 30px;
    height: 30px;
}

.submit-button {
    width: 80%;
    margin: auto;
    background-color: rgb(0100 , 149, 237);
}

h1 {
    margin-left: 1.5rem;
}